%h1 New developer

.Resource-Form
  = simple_form_for @developer do |f|
    = f.input :first_name, input_html: { class: "form-control" }
    = f.input :last_name, input_html: { class: "form-control" }
    = f.input :avatar, as: :file, input_html: { class: "Resource-Form-File" }
    = f.submit "Create Developer", class: "btn btn-primary"
