!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RecruitmentTask
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    = flash_messages

    %nav.Navigation.navbar.navbar-inverse
      .container
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-expanded" => "true", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to 'Recruitment task', root_path, class: "Navigation-brand navbar-brand"
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li.dropdown{ class: ("active" if developer_dropdown_active?) }
                %a.dropdown-toggle.Cursor-Pointer{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", role: "button"}
                  Developers
                  %span.caret
                %ul.dropdown-menu
                  %li
                    = link_to 'Index', developers_path
                  %li
                    = link_to 'New', new_developer_path
              %li{ class: ("active" if current_page?(projects_path)) }
                = link_to 'Projects', projects_path
              - if admin?
                %li{ class: ("active" if current_page?(users_path)) }
                  = link_to 'Users', users_path
                %li{ class: ("active" if current_page?(languages_path)) }
                  = link_to 'Languages', languages_path

            %ul.nav.navbar-nav.navbar-right
              %li
                %span.Navigation-Span
              - if user_signed_in?
                %li.navbar-text= current_user.email
                %li= link_to 'Logout', destroy_user_session_path, method: :delete
              - else
                %li{ class: ("active" if current_page?(new_user_session_path)) }
                  = link_to 'Login', new_user_session_path

    %section
      .container.Content
        .Content-Inside
          = yield

    %footer.Footer
      .container
        %span.text-muted Created by me...
